.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  padding-bottom: 20px;
  background: #ffffffcc;
  backdrop-filter: blur(10px);
  &__container {
    @include container;
    align-items: flex-end;
  }
  &__main {
    display: flex;
    margin: 15px 20px;
    &__link {
      cursor: pointer;
      padding: 10px;
      margin: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font: normal normal normal 20px $font-base;
      color: nth($colors, 4);
      &.main-link {
        border: 1px solid nth($colors, 3);
      }
    }
  }
  &__scroll {
    display: flex;
    &__link {
      margin: 0 30px;
      font: normal normal normal 24px $font-base;
      color: #3c3c3c;
    }
  }
}
