.steps {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__header {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .decoration {
      margin-top: 30px;
    }
    &__text {
      text-align: center;
      font: normal normal normal 38px $font-base;
      color: nth($colors, 5);
      @media (max-width: 700px) {
        font-size: 25px;
      }
    }
  }
  &__wrapper {
    width: 100%;
    background-color: nth($colors, 1);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
  }
  &__container {
    @include container;
    max-width: 1000px;
    padding: 30px 0;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 1500px) {
      justify-content: space-around;
    }
    @media (max-width: 900px) {
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      max-width: 500px;
    }
    @media (max-width: 500px) {
      flex-direction: column;
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 900px) {
      flex-grow: 1;
      padding: 30px 10px;
    }
    &__img {
      height: 90px;
      @media (max-width: 1500px) {
        height: 70px;
      }
    }
    &__headline {
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
      font: normal normal normal 18px $font-base;
      color: nth($colors, 5);
      margin: 10px 0;
      &::after {
        content: "";
        display: block;
        width: 60%;
        height: 1px;
        background: nth($colors, 5);
        margin-top: 10px;
      }
    }
    &__text {
      text-align: center;
      font: normal normal normal 16px $font-base;
      color: nth($colors, 5);
    }
  }
  .button {
    margin-top: 30px;
  }
}
